body {
    background-image: url('gambar1.jpg');
    background-repeat: no-repeat;
    background-size: 1550px;
}

.form {
    width: 500px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 5px;
    border: 5px solid gray;
    background-color:rgb(99, 160, 8);
}